@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* font-family: 'Work Sans', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
/* primary style */

.section_head{
    font-size: 2.2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #131313;
}
.section_desctiption{
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #727272;
    margin: 20px 0;
}
.common_btn{
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    padding: 20px;
    
}
/* header style */
header{
    background: rgba(255, 144.05, 13.81, 0.10);
    padding: 40px 180px ;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar > ul{
    display: flex;
    align-items: center;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    color: #424242;
}
.header_content{
    max-width: 920px;
    text-align: center;
    /* padding: 0 75px; */
    margin: 40px auto 0px auto;
}
.header_content h1{
    font-size: 48px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #131313;
    text-align: center;
    margin: 0 180px;
    width: 450px;
    margin: 0 auto;
}
.header_content p{
    padding: 0 75px;
}
.header_content img{
    width: 100%;
}
/* team section */
/* .team_part{
    background-color: red;
} */
.team_content{
    padding: 70px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team_image{
    width: 48%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.team_image img{
    width: 100%;
}
.team_text{
    width: 48%;
}
.team_text h2{
    font-size: 35px;
    font-family: 'Work Sans', sans-serif;
}
/* facts section */
#facts_part{
    padding: 100px 180px;
}
.facts_text{
    margin-right: 420px;
    margin-bottom: 60px;
}
.facts_cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.facts_cards .card{
    width: 140px;
    padding: 35px 25px 45px 25px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}
.card p{
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    color: #727272;
}
/* sponsor section */
#sponsor_part{
    padding: 0 180px;
}
.sponsor_head{
    text-align: center;
    padding: 0 190px;
}
.sponsor_logo{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
.sponsor_logo img{
    width: 120px;
}
#footer_part{
    padding: 100px 180px;
}
.footer_content{
    background-color: #FFF4E7;
    padding: 30px 0;
    border-radius: 8px;
}
.footer_content p{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    color: #424242;
    text-align: center;
}






/* responsive for mobile */
@media screen and (max-width: 576px){
    header{
        padding: 10px;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar h3{
        text-align: center;
    }
    .navbar > ul{
        margin-top: 20px;
        flex-direction: column;
        gap: 10px;
    }
    .header_content{
        padding: 0;
    }
    .header_content h1{
        width: 100%;
    }
    .header_content p{
        padding: 0;
    }
    .common_btn{
        padding: 15px;
    }
    /* team part */
    .team_content{
        padding: 10px;
        flex-direction: column-reverse;
    }
    .team_text {
        width: 100%;
    }
    .team_image{
        width: 100%;
        grid-template-columns: 1fr;
    }
    /* facts part */
    #facts_part{
        padding: 10px;
    }
    .facts_text{
        margin: 0 ;
    }
    .facts_cards{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    /* sponsor part */
    #sponsor_part{
        padding: 10px;
    }
    .sponsor_head{
        padding: 0;
    }
    .sponsor_logo{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    /* footer part*/
    #footer_part{
        padding: 20px 10px;
    }
    .footer_content{
        padding: 10px 0;
    }
    
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 15px;
    }
    .header_content{
        padding: 0;
    }
    .header_content p{
        padding: 0;
    }
    .section_desctiption{
        padding: 0 60px;
    }
    /* team part */
    .team_content{
        padding: 10px;
        flex-direction: column-reverse;
    }
    .team_text {
        width: 100%;
    }
    .team_image{
        width: 100%;
        
    }
    .section_desctiption{
        padding: 0;
    }
    /* facts part */
    #facts_part{
        padding: 20px 10px;
    }
    .facts_text{
        width: 100%;
    }
    .facts_cards{
        align-items: center;
        /* flex-wrap: wrap; */
        /* padding: 0px 153px; */
        gap: 20px;
    }
    /* sponsor part */
    #sponsor_part{
        padding: 10px;
    }
    .sponsor_head{
        padding: 0;
    }
    .sponsor_logo{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    /* footer part*/
    #footer_part{
        padding: 20px 10px;
    }
    .footer_content{
        padding: 10px 0;
    }
}